<div class="sidebar">
    <img class="image" src="https://phoenixaerodrone.files.wordpress.com/2023/05/nimbus-3-2086265121-e1683073421630.jpg">
    
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Category</button>
    </div>
    <div style="text-align: center; font-size: 12px">*Create a category and then create post under it.</div>
</div>